@import 'common';

.color-yellow {
  color: $color-yellow !important;
}

.background-color-gray {
  background-color: #946c0a !important;
}

.background-color-yellow {
  background-color: $color-yellow !important;
}

.display-sp {
  @include pc {
    display: none !important;
  }

  #BUTTON29 {
    @include sp {
      left: 230px;
      width: 150px;

      &:hover {
        svg {
          path {
            fill: rgb(58, 194, 76);
          }
        }
      }

      #BUTTON_TEXT29 {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      svg {
        width: 15px;
        height: 15px;
        margin-left: 14px;
      }

      p {
        margin-left: -10px;
      }
    }
  }

  #SHAPE1638 {
    left: 200px;
  }
}

.ladi-wraper {
  padding-top: 80px;
}
.header {
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 90000050;
  height: 80px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

header {
  display: grid !important;
  align-items: center;
  grid-template-columns: 20% auto;
  height: 80px;
  margin: auto;
  max-width: 1200px;
  
  .content_header {
    @include sp {
      display: none;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 0px;
      align-items: center;
      margin: auto;
      text-align: center;
      li {
        font-family: "Intelligent Design - AvertaStdCY-Semibold_1.otf";
        color: rgb(63, 63, 63);
        font-size: 18px;
        text-align: center;
        svg {
          width: 37px;
          height: 37px;
        }

        .phone_content {
          display: flex;
        }

        .phone_number {
          background-color: rgb(58, 194, 76);
          border-radius: 96px;
          color: rgb(255, 255, 255);
          font-size: 14px !important;
          text-align: center;
          line-height: 1.6;
          padding: 5px 0px;
          width: 160px !important;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            background-color: transparent;
            color: rgb(58, 194, 76);

            svg {
              path {
                fill: rgb(58, 194, 76);
              }
            }
          }

          svg {
            width: 15px;
            height: 15px;
            margin-left: 16px;
          }

          p {
            margin-left: -10px;
          }
        }
      }
    }
  }
}

.btn-buy-now {
  background-color: $color-yellow;
  &:hover {
    background-color: transparent !important;
    
    p {
      color: $color-yellow !important;
    }
  }
}

.product-popup {
  background-color: white;
  max-width: 550px;
  height: 100px;
  display: grid;
  grid-template-columns: 27% repeat(2, 1fr);

  .product-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 10px 15px;
    width: 150px;

    .title {
      font: normal 400 18px/29px $font-intell-bold-1;
      color: rgb(233, 10, 137);
      &:hover {
        color: #3f3f3f;
      }
    }

    .sub-title {
      font: normal 400 14px/22px $font-intell-bold-1;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .product-other {
    width: 250px !important;
  }
}

#weaveHair,
#bulkHair,
#catalogue {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

.text-align-left {
  text-align: left;
}

.product__sp__list {
  padding: 10px;
  .product__sp--item {
    display: grid;
    grid-template-columns: 30% 70%;
    min-height: 50px;
    align-items: center;

    .title {
      font: normal 400 16px/26px $font-intell-bold-1;
      color: rgb(233, 10, 137);
      &:hover {
        color: #3f3f3f;
      }
    }
    .sub-title {
      font: normal 400 14px/22px $font-intell-bold-1;

      &:hover {
        opacity: 0.5;
      }
    }

    .product__item--left {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

