@media screen and (min-width: 768px) {
  #HEADLINE45 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #HEADLINE47 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #HEADLINE48 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #HEADLINE49 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE62 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX67 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX102 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX110 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX118 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE135 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE141 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE144 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX153 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX161 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX169 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX177 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE185 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE188 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX197 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX205 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX213 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX221 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE229 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE232 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX241 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX249 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX257 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX265 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE273 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE276 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX285 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX293 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX301 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX309 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE317 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE320 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX329 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX337 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX345 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX353 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE457 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE460 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #GROUP503 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #GROUP504 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #GROUP510 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #GROUP513 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE636 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE639 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE771 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE777 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE786 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE793 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE800 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #HEADLINE826 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #GROUP827 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE828 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #GROUP955 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #POPUP956 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1160 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1163 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1169 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1172 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1180 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1183 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1236 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1239 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #POPUP87 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1268 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #GROUP1295 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BUTTON1151 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1339 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1360 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1361 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1362 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1373 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1402 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1403 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1404 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1410 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1413 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1414 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1416 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #HEADLINE1420 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #POPUP1455 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #POPUP1629 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #SHAPE1638 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #POPUP1645 {
      opacity: 0 !important;
      pointer-events: none !important;
  }
}

@media screen and (max-width: 767px) {
  #HEADLINE45 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #HEADLINE47 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #HEADLINE48 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #HEADLINE49 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE62 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX67 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX102 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX110 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX118 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE135 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE141 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE144 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX153 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX161 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX169 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX177 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE185 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE188 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX197 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX205 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX213 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX221 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE229 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE232 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX241 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX249 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX257 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX265 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE273 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE276 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX285 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX293 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX301 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX309 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE317 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE320 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX329 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX337 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX345 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BOX353 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE457 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE460 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #GROUP503 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #GROUP504 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #GROUP510 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #GROUP513 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE636 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE639 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE771 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE777 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE786 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE793 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE800 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #HEADLINE826 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #GROUP827 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE828 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #GROUP955 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #POPUP956 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1160 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1163 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1169 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1172 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1180 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1183 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1236 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1239 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #POPUP87 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #LINE1268 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #BUTTON1151 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1339 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1360 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1361 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1362 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1373 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1402 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1403 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1404 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1410 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1413 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1414 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #IMAGE1416 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #HEADLINE1420 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #POPUP1455 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #POPUP1629 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #SHAPE1638 {
      opacity: 0 !important;
      pointer-events: none !important;
  }

  #POPUP1645 {
      opacity: 0 !important;
      pointer-events: none !important;
  }
}